<form [formGroup]="selectionForm" (ngSubmit)="onSubmit()">
  <div class="modal-header">
    <h4>登録</h4>
  </div>
  <div class="modal-body">
    <div *ngIf="selectionForm.invalid && (selectionForm.dirty || isSubmited)" class="alert alert-danger">
      <div *ngIf="companyName.errors?.required">
        企業名を入力してください。
      </div>
      <div *ngIf="seasonId.errors?.required">
        応募時期を選択してください
      </div>
    </div>
    <div formGroupName="companyForm">
      <label class="mr-3">企業名
        <input type="text" class="form-control" formControlName="name" size="30" maxlength="50" [readonly]= "isCompany()" />
      </label>
      <label>企業名(かな)
        <input type="text" class="form-control" formControlName="kana" size="30" maxlength="100" [readonly]= "isCompany()" />
      </label>
      <label>リンク
        <input type="text" class="form-control" formControlName="link" size="60" maxlength="200" [readonly]= "isCompany()" />
      </label>
    </div>
    <label>書類パスワード
      <input type="text" class="form-control" formControlName="documents_password" maxlength="20" />
    </label>
    <br/>
    <label>応募時期
      <select formControlName="season_id" class="form-control">
        <option value=1 selected>----------</option>
        <ng-template ngFor let-season [ngForOf]="choicese.seasons">
          <option *ngIf="season.id != 1" value={{season.id}}>{{season.name}}</option>
        </ng-template>
      </select>
    </label>
    <br/>
    <label>状況
      <select formControlName="selection_status_id" class="form-control">
        <option value=1 selected>----------</option>
        <ng-template ngFor let-status [ngForOf]="choicese.selectionStautses">
          <option *ngIf="status.id != 1" value={{status.id}}>{{status.name}}</option>
        </ng-template>
      </select>
    </label>
    <br/>
    <label>応募方法
      <select formControlName="application_way_id" class="form-control">
        <option value=1 selected>----------</option>
        <ng-template ngFor let-applicationWay [ngForOf]="choicese.applicationWays">
          <option *ngIf="applicationWay.id != 1" value={{applicationWay.id}}>{{applicationWay.name}}</option>
        </ng-template>
      </select>
    </label>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-primary">登録</button>
    <button type="button" class="btn btn-outline-danger" (click)="cancel()">閉じる</button>
  </div>
</form>
