<div class="container col-10 center">
  <div class="row">
    <app-search-selections (posted)="postedSearchResult($event)" [choicese]="choicese" class="center"></app-search-selections>
  </div>
  <div class="row">
    <button class="btn btn-default btn-primary mb-2 right" (click)=showCreateModal()>追加</button>
  </div>
  <div class="row">
    <table class="table">
      <thead>
        <tr>
          <td>No</td>
          <td>会社名</td>
          <td></td>
          <td>応募時期</td>
          <td>状況</td>
          <td>応募方法</td>
          <td>次の面接日</td>
          <td>履歴書パスワード</td>
          <td>備考</td>
          <td></td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let selection of selections; let i=index">
          <td>{{ i + 1 }}</td>
          <td>{{ modelService.find_name(companies, selection.company_id) }}</td>
          <td>
            <fa-icon [icon]="faPlus"  class="selections-icon mr-4" (click)=showCreateModal(selection.company_id)></fa-icon>         
            <a class="link-icon" href="{{modelService.company_link(companies, selection.company_id)}}" target="_blank">
              <fa-icon [icon]="faClone" class="selections-icon"></fa-icon>
            </a>
          </td>
          <td>{{ modelService.find_name(choicese.seasons, selection.season_id)  }}</td>
          <td>{{ modelService.find_name(choicese.selectionStautses, selection.selection_status_id) }}</td>
          <td>{{ modelService.find_name(choicese.applicationWays,   selection.application_way_id)  }}</td>
          <td>{{ selection.next_appointment   }}</td>
          <td>{{ selection.documents_password }}</td>
          <td>{{ selection.remarks }}</td>
          <td>
            <fa-icon [icon]="faPencilAlt" class="selections-icon mr-4" (click)=showEditModal(selection)></fa-icon>
            <fa-icon [icon]="faTimes"     class="selections-icon"      (click)=delete(selection.id)></fa-icon>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
